@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override styles for Leaflet map container */
.leaflet-container {
  height: calc(
    100vh - 4rem
  ); /* Adjust as needed based on the height of the header */
}

/* Ensure the root element fills the entire viewport */
#root {
  height: 100%;
  min-width: 452px;
  background-color: #f2f5f8;
  font-family: poppins;
}

html,
body,
#root {
  height: 100%;
}
